$primary : #556C96
$primary_fonce : #475465


$primary_hover_btn : blue
$font_color : black

$bleu_clair : #B6CDE8
$secondary : #FF584D
$text_color : black
$gray : #DEDDE0

$success_1 : #06A646
$success_2 : #08B54D

$danger_1 : #E90F0F
$danger_2 : #DB0F0F

$warning_1 : orange
$warning_2 : orange

$border_radius : 5px
$border : 1px solid $primary

